<div class="container">
  <div class="profile">
    <%= render 'profiles/header', user: current_user %>
    <div class="profile__actions">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-8 col-md-6 col-lg-4"></div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-sm-8 col-md-6 col-lg-4">
          <div class="profile__action">
            <%= link_to edit_user_registration_path, class: 'link-mine' do %>
              <div class="row">
                <div class="col-10">
                  Edit profile
                </div>
                <div class="col-2">
                  <%= icon 'fa-solid', 'chevron-right', class: 'icon--hover' %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
