<div class="progress-pie-chart"
      data-controller="percents-bar"
      data-percents-bar-percent-value=<%= percent %>>
  <div class="ppc-progress">
    <div class="ppc-progress-fill" data-percents-bar-target="fill"></div>
  </div>
  <div class="ppc-percents">
    <div class="pcc-percents-wrapper">
      <span data-percents-bar-target="span">%</span>
    </div>
  </div>
</div>
