<div class="container">
  <div class="row justify-content-center landing--layout">
    <div class="col-12">
      <div class="d-flex justify-content-center align-items-center">
        <%= image_tag 'logo.png', width: '240px' %>
      </div>
    </div>
    <div class="col-12 text-center">
      <p>Welcome to</p>
      <h1  id='mask'>Home Care</h1>
      <div class='landing__underline'></div>
    </div>
    <div class="col-12">
      <div class="d-flex justify-content-center align-items-center">
        <%= link_to 'Sign up', login_path, class: 'btn btn-primary btn-round rounded-circle d-flex justify-content-center align-items-center' %>
      </div>
    </div>
  </div>
</div>
