<div class="container">
<%# row justify-content-center landing--layout  %>
  <div class="landing__layout landing__layout--centered">
    <%= image_tag 'logo.png', width: '240px' %>
    <div class="landing__header">
      <h1  id='mask'>Home Care</h1>
      <div class='landing__underline'></div>
    </div>
    <% if user_signed_in? %>
      <%= link_to t('.cta'), doctors_path, class: 'button button--upcase button--rounded' %>
    <% else %>
      <%= link_to t('sign_up'), login_path, class: 'button button--upcase button--rounded' %>
    <% end %>
  </div>
</div>
