<div class="centered-column">
  <% if game.completed? current_user %>
    COMPLETED!
  <% else %>
    <%= render 'rounds/new', game: game, round: round do %>
      <%= icon 'fa-solid', game.icon_name %>
    <% end %>
    <h2>
      <span class="slide--left-anim" style="display: block; text-align: center;"><%= game.name %></span>
      <span class="slide--right-anim" style="display: block; text-align: center;">Level: <%= current_user.rounds.where(game: game).order(:level).first&.level + 1 || 1 %></span>
    </h2>

  <% end %>
</div>
