.button:link,
.button:visited {
  background-color: $pansy-purple;
  color: white;
  text-decoration: none;
  border: 1px solid $pansy-purple;
}
.button {
  border: 1px solid $pansy-purple;
  background-color: $pansy-purple;
  color: white;
  text-decoration: none;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.button {
}

.button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.button--upcase {
  text-transform: uppercase;
  letter-spacing: 1.05px;
}

.button--rounded {
  // background-color: $pansy-purple;
  border-radius: 50%;
  height: 106px;
  width: 106px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
