.hide-and-keep {
  position: absolute;
  transform: scale(0);
}

.hide-and-keep + label {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  background-color: $light-dead-pinky;
  border-radius: 12px;
  color: white;
  box-shadow: 0 2px 1px rgba(0, 0, 0, .1);
  text-align: center;
  margin-bottom: 8px;
}

.hide-and-keep + label:hover {
  background-color: $light-live-pinky;
}

.hide-and-keep:checked + label {
  background-color: $light-live-pinky;
  border: 1px solid $pansy-purple-opacity;
}

.no-padding .form-check {
  padding-left: 0;
}
// #answer_user_answer_id_1 + label {
//   background: image-url('a-solid.svg'), $light-dead-pinky;
//   background-repeat: no-repeat;
//   background-position-x: 24px;
//   background-size: .825rem;
//   background-position-y: center;
// }
// #answer_user_answer_id_2 + label {
//   background: image-url('a-solid.svg'), $light-dead-pinky;
//   background-repeat: no-repeat;
//   background-position-x: 24px;
//   background-size: .825rem;
//   background-position-y: center;
// }
// #answer_user_answer_id_1 + label {
//   background: image-url('a-solid.svg'), $light-dead-pinky;
//   background-repeat: no-repeat;
//   background-position-x: 24px;
//   background-size: .825rem;
//   background-position-y: center;
// }
// #answer_user_answer_id_1 + label {
//   background: image-url('a-solid.svg'), $light-dead-pinky;
//   background-repeat: no-repeat;
//   background-position-x: 24px;
//   background-size: .825rem;
//   background-position-y: center;
// }
