// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "users/index";
@import "rounds/index";

body {
  background-color: $white-pinky;
}

.wrong .is-valid {
  border-color: $pansy-purple;
}
.wrong .form-check-label.collection_radio_buttons {
  color: $pansy-purple;
}

.wrong .form-check-input:valid:checked.form-check-input.is-valid:checked {
  background-color: $brick-red;
}

.wrong .form-check-input:valid:checked + label {
  color: $brick-red;
}


.b-shadow {
  box-shadow: 0 2px 1px rgba(0, 0, 0, .1);
}

.mr-min {
  margin-right: .25rem;
}

.flex-centered {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 12px;
}
.centered-column {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.game__icon {
  height: 72px;
  width: 72px;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: $pansy-purple;
  border-image: none;
  background-color: $pansy-purple;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: $light-dead-pinky;
}


.leaderboard__card {
  background-image: asset-url('leaderboard.png');
  background-size: contain;
  height: 160px;
  justify-content: center;
  align-items: flex-end;
  display: flex;
  background-repeat: no-repeat;
  background-position: top;;
}
